.flex.mb-2
    .rounded.py-2.px-3(style='background-color: #F2F2F2')
        p.text-sm.text-purple
            block userName
            | Tom Cruise
        p.text-sm.mt-1
            block message
                | Hi all! I have one question for the movie
        p.text-right.text-xs.text-grey-dark.mt-1
            | 12:45 pm